.stroke-text{
    color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(54, 32, 246);
    font-size: 4rem;
}
::-webkit-scrollbar{
    display: none;
}
.btn-style {
    width: 12rem;
    height: 5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 5rem;
    margin-left: 4rem;
    
  }
  .btn-style:hover {
    background-color: transparent;
    box-shadow: 0 0.8rem 1rem rgba(185, 134, 18, 0.5);
  }
  .btn-style-border {
    background-color: transparent;
    box-shadow: 0 0.8rem 2rem rgba(185, 134, 18, 0.5);
  }
  .blur{
    background-color: rgb(14, 139, 241);
    position: absolute;
    border-radius: 30%;
    filter: blur(180px);
    z-index: -9;
  }