.hero{
    display: flex;
    justify-content: space-between;
}
.best{
    margin: 8rem;
    background-color: rgb(54, 148, 220);
    border-radius: 4rem;
    width: fit-content;
    padding: 1.5rem 2rem;
    text-transform:uppercase;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.best>span{
    z-index: 5;
    font-size:1.5vw;
}
.best>div{
    position: absolute;
    background-color: rgb(237, 254, 49);
    width: 12rem;
    height: 80%;
    left:5px;
    border-radius: 5rem;
}
.tab>img {
    margin-top: 10vw;
    height: 18vw;
}
.hero-text{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 400;
    text-overflow:ellipsis;
    margin-left: 7rem;
    color: rgb(234, 22, 199);
}
.hero-text>div:nth-of-type(3){
    font-size: 2rem;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 2px;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(232, 67, 67);
}
.figures{
    display: flex;
    gap: 1rem;
    font-size: 3rem;
}
.figures>div{
    display: flex;
    flex-direction: column;
    margin: 5rem;
}
.figures>div>span:nth-of-type(1){
    color: orange;
}   
.figures>div>span:nth-of-type(2){
    color: rgb(153, 153, 8);
    text-transform: uppercase;
    font-size: 2rem;
}
.start-btn {
    margin-left: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}
.start-btn>:nth-of-type(1){
    margin-right: 2rem;
}
.start-btn>:nth-of-type(2){
    background-color: transparent; 
    box-shadow: 0 0.8rem 2rem rgba(185, 134, 18, 0.5);
}
.h-right{
    flex: 1;
    position: relative;
  }
.hero-blur{
    height: 40rem;
    width: 30rem;
  }